<!-- <div class="text-daidai text-2xl font-bold">橙色のテキスト 🎉</div>
<div class="bg-azuki text-white p-4 rounded">小豆色の背景</div> -->
<main>
  <h1>My Favorite Brands</h1>
  <p class="text-daidai">お気に入りのブランドを管理して最新動向をチェック</p>
  <div class="flex space-x-6">
    <a
      routerLink="/brands"
      routerLinkActive="text-daidai"
      class="hover:text-daidai transition"
    >
      ブランド一覧
    </a>
    <a
      routerLink="/new-items"
      routerLinkActive="text-daidai"
      class="hover:text-daidai transition"
    >
      新作商品
    </a>
    <a
      routerLink="/favorites"
      routerLinkActive="text-daidai"
      class="hover:text-daidai transition"
    >
      お気に入り
    </a>
  </div>
  <section class="content">
    <router-outlet />
  </section>
</main>
